body {
    background-color: blue;
  }
  header{
    background-color: black;
    padding: 20px;
    margin-left:50px ;
    margin-right:50px ;
    border: 5px solid purple;
  }
  
  h1{
  /*aligning has tags
  syle in order, same as html layout  */
    text-align: center;
    background-color: white;
    padding:10px;
  
    /*takes color of the last color command  */
    /*block level elements start on a new level  */
  }
  